/* You can add global styles to this file, and also import other style files */
body {
  background-color: #D9E0E7 !important;
  margin: 0px;
  font-size: 1em !important;
}

.ui-panel-titlebar {
  background-color: #2F8EE5 !important;
  color: white !important;
}

.ui-menu {
  width: auto !important;
  margin: 0px !important;
  border: none !important;
  background-color: #2D353C !important;
}

.ui-menuitem-text {
  color: white !important;
}

.ui-menuitem-icon {
  color: white !important;
  font-size: large !important;
  margin-right: 1em;
}

.menu-selected {
  background-color: #F15B2A !important;
  color: #D9E0E7;
}

.splash-screen {
  background: #D9E0E7;
  width: 100%;
  height: 100%; }
  .splash-screen .splash-loader {
    position: absolute;
    left: 50%;
    top: 50%;
    margin: -120px 0 0 -120px;
    width: 200px;
    height: 200px;
    border-radius: 100%;
    background-color: #D9E0E7;}
    .splash-screen .splash-loader img {
      width: 200px;
      margin-top: 70px; }
    .splash-screen .splash-loader:after {
      content: '';
      background: transparent;
      width: 140%;
      height: 140%;
      position: absolute;
      border-radius: 100%;
      top: -20%;
      left: -20%;
      opacity: 0.7;
      box-shadow: rgba(0, 0, 0, 0.6) -4px -5px 3px -3px;
      animation: rotate 1s infinite linear; 
}

@keyframes rotate {
  0% {
  transform: rotateZ(0deg); }
  100% {
  transform: rotateZ(360deg); } 
}

